node_modules/
.env
dist/
dist-ssr/
build/
coverage/

# Prisma
/backend/prisma/migrations/
/backend/prisma/client/
/backend/prisma/db/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
